@import "compass";
/*

CSS3 multicolumn - not yet used. for future reference.

@import "compass/css3/columns";

.column-layout {
  @include column-width(auto);
  @include column-gap(30px);
  @include column-rule(0px);
}

.column-layout {
  &.cols-2 {
    @include column-count(2);
  }
  &.cols-3 {
    @include column-count(3);
  }
  &.cols-4 {
    @include column-count(4);
    @include column-gap(20px);
  }
  &.cols-5 {
    @include column-count(5);
    @include column-gap(15px);
  }
  pre,
  code,
  ul li,
  ol li{
    @include column-break-inside(avoid);
  }
}

.autobreak {
  h1, h2, h3, h4, h5 {
    break-before: column;
    margin-top: 0;
  }
}

*/

/* For Omega defaults */

@media only screen and (max-width: 780px){
  .column-layout .column {
    float: none!important;
    width: 100%!important;
    padding: 0!important;
    margin: 0!important;
  }
}

.column-layout {
}
.column {
  h1, h2, h3, h4, h5 {
    margin-top: 0;
  }
  @include box-sizing(border-box);
  padding-right: 1.5em;
  margin: 0 0 2em 0;
  overflow: hidden;
  img {
    width: auto!important;
    max-width: 100%;
    height: auto!important;
  }
}
